.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.RData
*.geojson

# Large local data files
*.csv
*.RData
*.rds
*.zip
data/
data-raw/*.csv
data-raw/*.RData
case-studies/**/data/
case-studies/**/outputs/
